:root {
  --orange: #FF7223;
  --blue: #006AD3;
  --lightgray: #f5f5f5;
  --red: #FF4444;
  --darkRed: #ad2424;
  --black: #1D1D1F;
  --green: #2BA800;
  --gray: #767676;
}

label{
  margin-bottom: 10px;
}

input:focus{
  outline: none !important;
  border: 1px solid #4084d7 !important;
  box-shadow: 0px 0px 5px rgba(74, 147, 227, 0.32);
}

textarea:focus{
  outline: none !important;
  border: 1px solid #4084d7 !important;
  box-shadow: 0px 0px 5px rgba(74, 147, 227, 0.32);
}

button{
  outline: none!important;
}

body {
  color: var(--black);
  margin: 0;
  font-family: 'SF', 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:hover{
  text-decoration: none;
}

a:hover{
  color: #006AD3;
}

button:hover{
  cursor: pointer !important;
}

.text-align-center{
  text-align: center;
}

.display-center{
  display: flex;
  align-items: center;
}


@media (max-width: 992px){
  .footer-link-text{
    padding: 15px 15px;
  }

  .footer-background-mobile{
    background: #f6f6f6;
  }
}

@media (min-width: 992px){
  .footer-link-text{
    padding: 0 15px;
  }

  .footer-background-mobile{
    background: #fff;
  }
}



.footer-link-text{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  color: var(--black);
}

.footer-link-text:hover{
  color: var(--blue);
  cursor: pointer;
}

.logo-footer-text{
padding-right: 20px;
text-align: left;
}

@media (max-width: 600px){
.logo-footer-text{
  font-size: 14px !important;
  line-height: 20px;
}
}

.logo-small-footer{
width: 30px;
height: 30px;
}
.center-row{
display: flex;
justify-content: center;
}

.justify-content-center {
display: flex;
justify-content: center!important;
}

.input-field{
width: 100%;
border-radius: 8px;
height: 45px;
border: 1px solid #ccc;
padding: 10px;
font-size: 16px;
}

.error-border{
border: 1px solid var(--red);
}

.input-field::placeholder{
font-family: 'SF', 'Roboto', sans-serif;
color: #ccc;
}

.form-input-div{
text-align: left;
}

.no-padding{
padding-right: 0;
padding-left: 0;
}

.no-padding-right{
padding-right: 0;
}

.no-padding-left{
padding-left: 0;
}

/*Button styles*/

.black-button{
  background: var(--black);
  font-weight: 400;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 16px;
  color: white;
}

.round-button-border{
  background: white;
  font-weight: 600;
  border: 1.5px solid var(--black);
  border-radius: 25px;
  padding: 8px 20px;
  font-size: 14px;
}

.round-button-filter{
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.black-round-button{
  background: var(--black);
  font-weight: 500;
  border: none;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 16px;
  color: white;
}

.button-big-shadow{
  background: white;
  padding: 10px 25px;
  color: var(--black);
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #E2E2E2;
  box-shadow: 2px 4px 8px 1px rgba(112, 112, 112, 0.32);
  border-radius: 40px;
}

/*Navbar styles*/

/*nav{*/
/*  z-index: 1000 !important;*/
/*}*/

.logo-full{
  width: 125px;
  height: 25px;
}

.nav-item{
  list-style: none;
  padding-right: 6px;
  padding-left: 6px;
}

.nav-link{
  font-size: 14px !important;
  color: #1d1d1d !important;
}

.nav-item .nav-link:hover{
  color: var(--blue) !important;
}

.enter-margin{
  margin-right: 12px !important;
}

.navbar{
  background: white !important;
  height: 70px;
  padding: 10px 30px !important;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand{
  margin-right: 30px;
}

.enter-button{
  font-size: 14px;
  background: white;
  border: none !important;
  color: var(--black);
  padding: .5rem 1rem;
}

.enter-button:hover, .enter-button:focus{
  color: var(--blue) !important;
  border: none !important;
}

.blue-link-button{
  background: none;
  border: none;
  color: var(--blue);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 80px;
}

.navbar-login-name{
  color: var(--black);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;
}

.navbar-login-name:hover{
  color: var(--blue) !important;
}

.text-menu-mobile{
  margin-bottom: 0;
  color: #1d1d1d;
}

.mobile-menu-buttons{
  padding: 25px 0;
  margin: 0 5%;
  transition: color 0.2s ease-in-out;
  animation: 0.5s slideIn forwards;
}

.enter-button-mobile{
  font-size: 16px;
  border-radius: 25px;
  color: #1d1d1d;
  background: none;
  margin-right: 10px;
  border: none;
  font-weight: 500;
}

.create-account-button-mobile{
  font-size: 16px;
  border: 1px solid #1d1d1d;
  border-radius: 25px;
  color: #1d1d1d;
  background: none;
  padding: 5px 15px;
}

.margin-bottom-0{
  margin-bottom: 0;
}

.dropzone-file-name{
  font-size: 16px;
  color: var(--black)
}

.dropzone-default-text {
  color: gray;
  font-size: 15px;
  margin-bottom: 0;
}

.dropzone-file-name-container{
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.round-button-border:hover{
  cursor: pointer;
}