.employer-landing-button{
    background: linear-gradient(to right, #FF4C41, #FF7A00);
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;
    padding: 10px 30px;
    border: none;
}

.landing-employer-main-button{
    margin-top: 40px;
}

.chevron-employer{
    margin-left: 7px;
    margin-right: 0;
}

.container-main-employer-landing{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}