.container-landing{
    display: flex;
    align-items: center;
    height: calc(100vh - 75px);
}

.main-landing-text{
    font-weight: 800;
    font-size: 2.6rem;
    margin-bottom: 15px !important;
    line-height: 45px;
}

.main-text-gradient{
    background: linear-gradient(to right, #FF4444, #FF8D23);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secondary-landing-text{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
    line-height: 35px;
}

.buttons-main-landing{
    margin-top: 35px;
}

.know-more-landing{
    background: white;
    margin-left: 20px;
    border: none;
    font-weight: 500;
}

.know-more-landing:hover{
    color: var(--blue);
}

@media (max-width: 500px) {
    .know-more-landing {
        margin-top: 12px;
        color: var(--blue);
        margin-bottom: 25px;
    }
}

.secondary-landing-block-text{
    font-size: 20px;
    font-weight: 500;
}

.main-landing-block-text{
    font-size: 35px;
    font-weight: 700;
}

@media (max-width: 600px){
    .main-landing-block-text {
        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
    }

    .secondary-landing-block-text {
        font-size: 18px;
        font-weight: 400;
    }

    .border-gray{
        border: 15px solid #f5f5f5;
    }

    .padding-top-50{
        padding-top: 50px;
    }
}

.companies-logo{
    height: 350px;
    width: 10px;
}

.background-gray{
    background: var(--lightgray);
}

.background-white{
    background: white;
}

.border-gray{
    border: 40px solid #f5f5f5;
}

.padding-top-50{
    padding-top: 70px;
}

.card-landing-text{
    font-size: 22px;
    font-weight: 600;
}

.line-gradient-card{
    width: 100%;
    height: 3px;
    background: orange;
    margin-bottom: 20px;
}

.padding-top-bottom{
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-footer-text{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 80px;
}

.padding-top-bottom-2{
    padding-top: 110px;
    padding-bottom: 110px;
}

.logo-footer-text{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.logo-side-text-div{
    margin-left: 15px;
}

.footer-div.display-center {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.logo-inst{
    width: 26px;
    height: 26px;
    margin-right: 15px;
}

.logo-tg{
    width: 24px;
    height: 24px;
}

.links-footer-div{
    padding-left: 30px;
}

.small-text-footer{
    font-size: 14px;
    margin-top: -2px;
}

.left-arrow{
    width: 20px;
    height: 20px;
    stroke: var(--blue) !important;
}

.margin-left-icon{
    margin-left: 5px;
}