.gray-switch-background{
    background: var(--lightgray);
    height: 55px;
    border-radius: 50px;
    padding: 5px;
    margin: 40px 0;
}

.active-switch{
    border: 1px solid var(--lightgray);
    background: white;
    border-radius: 25px;
    padding: 10px 17px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.text-switch{
    margin-bottom: 0;
}

.padding-switch{
    padding: 10px 0;
}

.not-active-switch{
    border: none;
    background: none;
    border-radius: 25px;
    padding: 10px;
    box-shadow: none;
}

.layers-icon{
    margin-right: 8px;
    margin-bottom: 1px;
}

.layers-icon polygon {
    fill: #ff7600;
}

.trending-icon{
    margin-right: 8px;
    margin-bottom: 1px;
}

.card-vacancy-body{
    padding: 20px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    max-width: 510px;
    /*border: 1px solid #EBEBEB;*/
    box-sizing: border-box;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.06);
}

.card-company-text{
    font-weight: 500;
    font-size: 14px;
    color: #767676;
    margin-bottom: 3px;
}

.card-vacancy-main-info{
    /*display: flex;*/
}

.short-info-vacancy-text{
    margin-right: 15px;
    margin-bottom: 0;
}

.icon-vacancy-info{
    margin-right: 7px;
}

#salary-icon{
    margin-right: 7px;
}

.card-title-text {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}

.card-body-text-p{

}

.chip-experience{
    color: var(--green) !important;
}

.chip-background{
    background: #f5f5f5;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--gray);
    border-radius: 8px;
    margin-right: 8px;
}


.logo-vacancy-img{
    object-fit: contain !important;
    height: 100%;
    width: 100%;
    border-radius: 125px;
}

.logo-vacancy-div{
    margin-right: 15px;
    border-radius: 125px;
    height: 55px;
    width: 55px;
    /*background: gray;*/
    /*background: url("../images/deloitte.png");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
}

.header-card{
    display: flex;
}

.card-body-text{
    margin-top: 18px;
}

.chips-div{
    margin-bottom: 25px;
}

.margin-bottom-15{
    margin-bottom: 20px;
}

.filters-title-text{
    font-size: 20px;
    color: var(--gray);
}

.filter-icon-margin{
    margin-right: 8px;
}

.filter-padding{
    padding: 32px;
    width: 264px;
    position: -webkit-sticky;
    position: sticky;
    top: 76px;
    order: 1;
}

.vacancies-column-width{
    /*flex: 0 0 43% !important;*/
    /*max-width: 43% !important;*/
    position: relative;
    order: 2;
    max-width: 700px;
}

.container-vacancies{
    display: flex;
    margin-top: 24px;
    padding: 0 8px;
    position: relative
}

.input-group{
    margin-top: 40px;
}

#categories-select{
    font-family: 'SF', 'Roboto', sans-serif !important;
}

.MuiFormControl-root, .MuiOutlinedInput-root{
    height: 45px !important;
}

.MuiSelect-select, .MuiInputLabel-root, .MuiListItemText-root .MuiTypography-root{
    font-family: 'SF', 'Roboto', sans-serif !important;
    font-size: 14px !important;
}

.form-select{
    font-family: 'SF', 'Roboto', sans-serif !important;
    width: 100%
}

.MuiInputBase-root{
    border-radius: 8px !important;
    font-family: 'SF', 'Roboto', sans-serif !important;
}

.dropdown-icon{
    margin-right: 10px;
}